.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: var(--color-cyan);
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  background: var(--color-light-gray);
}

.component-wrapper{
  // display: grid;
  // padding: 1rem;
  border-radius: .4rem;
  background: var(--color-light);
}

.component-section{
  padding: 1rem 1.5rem;
  color: var(--color-light);
}

.component-section--bgcyan{
  background: var(--color-cyan);
}

.component-section--bglc{
  background: var(--color-lighter-cyan);
}
// .component-section--bgyellow{ button
//   background: var(--color-bright-yellow);
// }

.component-section__h2{
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-cyan);
}

.component-section__h3{
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--color-light);
}

.component-section__h3--small{
  font-size: .92rem;
}

.component-section__p{
  font-size: var(--main-font-size);
  line-height: 1.8;
  font-weight: 400;
}

.component-section__p--dark{
  color: var(--color-grayish-blue);
}

.component-section__p--biggest{
  font-size: 2rem;
  font-weight: 700;
}

.component-section__p--lighter{
 color: var(--color-lightest-cyan);
 padding: 1em;
}

.ul{
  list-style: none;
  padding: 0;
  font-size: var(--main-font-size);
 }

 .ul__li{
   margin-bottom: .5em;
 }

.component-section__h3--bright{
  color: var(--color-bright-yellow);
}

.button{
  display: block;
  position: relative;
  margin: auto;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  padding: .9em 4em;
  border: none;
  border-radius: .3rem;
  background: var(--color-bright-yellow);
  color: var(--color-light);
  box-shadow: 1px 1px 10px rgba(26, 26, 26, 0.3);
  width: 100%;
  outline: 1px solid transparent;
  outline-offset: -1em;
  overflow: hidden;
}

.button__text{
  position: relative;
  z-index: 2;
}

.button::before{
  content: "";
  position: absolute;
  left: -50%;
  top: 45%;
  width: 30%;
  height: 10%;
  z-index: 1;
  background: green;
  border-radius: 0 5px 0 0;
}

.button::after{
  content: "";
  position: absolute;
  right: -50%;
  top: 45%;
  width: 30%;
  height: 10%;
  z-index: 1;
  background: green;
  border-radius: 5px 0 0 0;
}

// Grace's visually hidden helper
.screen-reader-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
