:root{
    // primary
    --color-cyan: hsl(179, 62%, 43%);
    --color-lighter-cyan: hsl(179, 47%, 52%);
    --color-lightest-cyan: hsl(179, 56%, 59%);
    --color-bright-yellow: hsl(71, 73%, 54%);

    // neutral
    --color-light-gray: hsl(204, 43%, 93%);
    --color-grayish-blue: hsl(218, 22%, 67%);

    --color-light: hsl(0, 0%, 100%);
}