:root {
  --color-cyan: hsl(179, 62%, 43%);
  --color-lighter-cyan: hsl(179, 47%, 52%);
  --color-lightest-cyan: hsl(179, 56%, 65%);
  --color-bright-yellow: hsl(71, 73%, 54%);
  --color-light-gray: hsl(204, 43%, 93%);
  --color-grayish-blue: hsl(218, 22%, 67%);
  --color-light: hsl(0, 0%, 100%);
  --main-font-size: .85rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--color-cyan);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1.5rem;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  background: var(--color-light-gray);
}

.component-wrapper {
  max-width: 33.875rem;
  border-radius: .4rem;
  background: var(--color-light);
  -webkit-box-shadow: 1px 1px 10px rgba(26, 26, 26, 0.2);
          box-shadow: 1px 1px 10px rgba(26, 26, 26, 0.2);
}

.component-section {
  padding: 1rem 1.5rem;
  color: var(--color-light);
}

.component-section--bgcyan {
  background: var(--color-cyan);
}

.component-section--bglc {
  background: var(--color-lighter-cyan);
}

.component-section__h2 {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-cyan);
}

.component-section__h3 {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--color-light);
}

.component-section__h3--small {
  font-size: .92rem;
}

.component-section__p {
  font-size: var(--main-font-size);
  line-height: 1.8;
  font-weight: 400;
}

.component-section__p--dark {
  color: var(--color-grayish-blue);
}

.component-section__p--biggest {
  font-size: 1.8rem;
  font-weight: 700;
}

.component-section__p--lighter {
  color: var(--color-lightest-cyan);
  padding: .5em;
}

.ul {
  list-style: none;
  padding: 0;
  font-size: var(--main-font-size);
}

.ul__li {
  margin-bottom: .5em;
}

.component-section__h3--bright {
  color: var(--color-bright-yellow);
}

.button {
  display: block;
  position: relative;
  margin: 1em auto;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  padding: .9em 4em;
  border: none;
  border-radius: .3rem;
  background: var(--color-bright-yellow);
  color: var(--color-light);
  -webkit-box-shadow: 1px 1px 10px rgba(26, 26, 26, 0.3);
          box-shadow: 1px 1px 10px rgba(26, 26, 26, 0.3);
  width: 100%;
  outline: 1px solid transparent;
  outline-offset: -1em;
  overflow: hidden;
}

.button__text {
  position: relative;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  left: -50%;
  top: 45%;
  width: 30%;
  height: 10%;
  z-index: 1;
  background: green;
  border-radius: 0 5px 0 0;
}

.button::after {
  content: "";
  position: absolute;
  right: -50%;
  top: 45%;
  width: 30%;
  height: 10%;
  z-index: 1;
  background: green;
  border-radius: 5px 0 0 0;
}

.screen-reader-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.button:hover,
.button:focus {
  font-size: 1.1rem;
  outline: 2px solid green;
  outline-offset: -.4rem;
  color: green;
  -webkit-transition: font-size 100ms ease, outline 10ms linear, outline-offset 100ms ease, color 250ms ease-in;
  transition: font-size 100ms ease, outline 10ms linear, outline-offset 100ms ease, color 250ms ease-in;
}

.button:hover::before,
.button:focus::before {
  left: 0;
  -webkit-transition: 100ms left 100ms linear;
  transition: 100ms left 100ms linear;
}

.button:hover::after,
.button:focus::after {
  right: 0;
  -webkit-transition: 100ms right 100ms linear;
  transition: 100ms right 100ms linear;
}

@media (min-width: 570px) {
  .component-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .component-section--grid-top {
    grid-column: 1 / end;
  }
}
/*# sourceMappingURL=style.css.map */